<!DOCTYPE html>
<html lang="fr">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--[if !mso]><!-- -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<![endif]-->
    <meta name="format-detection" content="telephone=no">
    <meta name="x-apple-disable-message-reformating" />
    <title> message depuis Anim'The Time</title>
</head>

<body>
    <p>nom du contact : <strong>{{name}}</strong></p>
     <p>mail : <strong>{{mail}}</strong></p>
     <p> téléphone : <strong>{{phone}}</strong></p>
     <p> message : {{message}}</strong></p>
</body>

</html>